/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: black;
  color: wheat;
  /* display: flex;  */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

